.features-list {
  display: flex;
  justify-content: center;
}

.features-background {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: $secondary-background-color;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-font-color;
  margin-bottom: 10px;
}

.features-list-text {
  @include font ();
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.714;
  letter-spacing: 0.03em;
  color: $secondary-font-color;
}


@media screen and (max-width:767px) {
  .features-list-title {
    text-align: center;
  }
  .features-list {
    display: block;
  }

  .features-list-item {
    width: 450px;
  }
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width:768px) and (max-width:1199px){
  .features-list {
    flex-wrap: wrap;
  }

  .features-list-item {
    width: 354px;
  }

  .features-list-item:nth-child(odd) {
    margin-right: 30px;
  }

  .features-list-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width:1200px) {
   .features-list-item {
    width: 270px;
  }

  .features-list-item:not(:last-child){
    margin-right: 30px;
  }

  .features-list-item {
    margin-bottom: 0;
  }
}


// .features-background {
//   width: 270px;
//   height: 120px;
//   background: #f5f4fa;
//   border-radius: 4px;
//   margin-bottom: 30px;
//   padding-top: 25px;
//   padding-right: 100px;
//   padding-bottom: 25px;
//   padding-left: 100px;
// }

