.our-team {
    background-color: $secondary-background-color;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sections-title .our-team-container {
    margin-bottom: 30px;
  }

.person {
    text-align:center;
    width: 100%;
    background-color: $main-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;

      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }

      &:nth-child(3n) {
        margin-bottom: 60px;
      }
  }

    .person-photo {
    margin-bottom: 30px;
    width:100%;
  }

.team-people{
@include font (16px, 500, 1.187);
    // font-weight: 500;
    // font-size: 16px;
    // line-height: 1.187;
    letter-spacing: 0.03em;
    color: $main-font-color;
    margin-bottom: 10px;
}

.position {
  @include font (16px, 400, 1.187);
      // font-weight: 400;
      // font-size: 16px;
      // line-height: 1.187;
      letter-spacing: 0.03em;
      color: $secondary-font-color;
      margin-bottom: 16px;
}

//  .our-team-list {
//     display: flex;
//   }
  
//   .person {
//     text-align: center;
//     background-color: $main-background-color;
//     box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 1px 3px rgba(0, 0, 0, 0.12);
//     border-radius: 0px 0px 4px 4px;
//     padding-bottom: 24px;

//       &:not(:last-child) {
//         margin-right: 30px;
//       }
//   }
  
//   .person-photo {
//     margin-bottom: 30px;
//   }
  
//   .team-people {
//     @include font (16px, 500, 1.187);
//     // font-weight: 500;
//     // font-size: 16px;
//     // line-height: 1.187;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: $main-font-color;
//     margin-bottom: 10px;
//   }
  
//   .position {
//     @include font (16px, 400, 1.19);
//     // font-weight: 400;
//     // font-size: 16px;
//     // line-height: 1.19;
//     letter-spacing: 0.03em;
//     text-align: center;
//     color: $secondary-font-color;
//     margin-bottom: 16px;
//   }
  
 