.header {
  border-bottom: 1px solid #ececec;
}

.work-examples-list-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    }
}

.work-examples-list-title {
  @include font (18px, 700, 2);
  // font-weight: 700;
  // font-size: 18px;
  // line-height: 2;
  letter-spacing: 0.06em;
  color: $main-font-color;
  margin-bottom: 4px;
}

.work-example-block {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.work-examples-list-text {
  @include font (16px, 400, 1.88);
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.88;
  letter-spacing: 0.03em;
  color: $secondary-font-color;
}

.work-example-img {
  width: 100%;
}

.overlay-text {
  position: relative;
  overflow: hidden;
}

.popup-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font (18px, 400, 1.56);
  // font-weight: 400;
  // font-size: 18px;
  // line-height: 1.56;
  letter-spacing: 0.03em;
  color: $main-title-color;
  background: rgba(33, 150, 243, 0.9);
  top: 0px;
  left: 0px;
  padding:24px;
  width:100%;
  height: 100%;
  transform: translateY(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-list-item:hover .popup-text {
  transform: translateY(0px);
}

// MOBILE
@media screen and (max-width: 767px) {
  .portfolio-container {
    margin-bottom: 40px;
  }

  .work-examples-list-item {
    max-width: 450px;
    margin-bottom: 30px;
}

 .work-example-img {
   width:100%;
 }
}

// TABLET
@media screen and (min-width: 768px) {
  .portfolio-container {
    margin-bottom: 30px;
  }

  .work-examples-list {
    display: flex;
    flex-wrap: wrap;
  }

  .work-examples-list-item {
    width: 354px;
    height: 100%;
    margin-bottom: 30px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .work-example-img {
    width:100%;
  }
}

// DESKTOP
@media screen and (min-width:1200px) {
  .portfolio-container {
    margin-bottom: 50px;
  }

  .work-examples-list {
    display: flex;
    flex-wrap: wrap;
  }

  .work-examples-list-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    
    &:nth-child(3n) {
      margin-right: 0;
    }
  
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}