html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin: 0;
  }
  
  img {
    display: block;
  }
  
  body {
    background-color: $main-background-color;
    font-family: $main-font;
    font-style: normal;
  }
  
  .link {
    text-decoration: none;
    display: block;
  }
  
  .list {
    list-style: none;
  }
  
  input {
    font-family: inherit;
  }
  