.section {
  padding-bottom:60px;
  padding-top:60px;
}

.sections-title {
  @include font (28px, 700, 1.178);
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-font-color;
}

// .section {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }

//   .sections-title {
//     @include font (36px, 700, 1.16);
//     // font-weight: 700;
//     // font-size: 36px;
//     // line-height: 1.16;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: $main-font-color;
//   }