$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$main-font-color: #212121;
$secondary-font-color: #757575;
$main-title-color: #ffffff;
$logo-color: #000000;
$accent-color: #2196f3;
$main-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$footer-info-color: rgba(255, 255, 255, 0.6);
$footer-background-color: #2f303a;
$companies-logo: #AFB1B8;